html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  /* background-color: bisque; */
}

.fluid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: azure */
}

canvas {
  width: 832px;
  height: 768px;
  background-color: #eee;
}